<div class="container">
	<div class="row">
			<h1>Liste des Offres</h1>

</br>	
				
<%= render 'jobs/categories'%>





			<%= link_to "poster une offre", new_job_path %>
</br>
</br>

			<%= @jobs.each do |job| %>
			<h2> <%= job.title %> </h2> 
			<p>  <%= job.category %> </p>   
			<p>  <%= job.description %> </p>
			<h5> Experience requise : <%= job.experience %></h5>
			<h5> Pour le : <%= job.date %>  </h5> 
			<h4><%= link_to "Voir l'offre", job %> </h4>

		
			<% end %>
		
	</div>
</div>





