<div class="container">
	<div class="row">
		<ul>
			<ol><h1><%= @job.title %></h1></ol>
			<ol><p><%= @job.description%></p></ol>
			<ol><p> Experience :</p><h4><%= @job.experience %></h4></ol>
			<ol><%= @job.date %></ol> </br>
			<ol><%= link_to "home", extra_user_dashboard_path %></ol>
		</ul>

		
	</div>
</div>


