<%= render 'jobs/categories'%>

<div class="container">
  <div class="row">
    <div class="joblabel">

      <% @jobs.each do |job| %>
      <div class="bordlabel">
        <h2><b><%= job.title %></b></h2>
      <br>
        <%= job.description %>
      <br>
        Experience requise : <%= job.experience %> ans
      <br>
        Pour le : <%= job.date %> 
      <br>
        <h4><%= link_to "Voir l'offre", extra_job_path(job) %> </h4>
      <br>
        Offre proposée par : <%= job.userpro.email %>
      <br>
         <% if !current_user.jobs.include?(job) %>
      <%= link_to "postuler", apply_extra_job_path(job), method: :post %> 
        <% else %>
      <b> Vous avez postulé :) </b>
      <br>
      <%= link_to "annuler", cancel_candidacy_extra_job_path(job), method: :post %> 
      <% end %>
      <br>
      <br>
  </div>
      <% end %>
  </div>
</div>

</div>


<style>


body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
    background: linear-gradient(to right, #74ebd5, #acb6e5);
}


</style>