
<style>


body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
    background: linear-gradient(to right, #74ebd5, #acb6e5);
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}
	
.joblabel{
   
}

.bordlabel{
	font-family: 'Open Sans Condensed', arial, sans;
    width: 800px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
    


}

.poster{

	  align-self:center;
      background:transparent;
      padding:1rem 1rem;
      margin:0 1rem;
      transition:all .5s ease;
      color:#41403E;
      font-size:2rem;
      letter-spacing:1px;
      outline:none;
      box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
      border:solid 2px #41403E;
      text-decoration: none;

}

.counterr{

	 align-self:center;
      background:transparent;
      padding:1rem 1rem;
      margin:0 1rem;
      transition:all .5s ease;
      color:#41403E;
      font-size:2rem;
      letter-spacing:1px;
      outline:none;
      text-decoration:none; 

}



</style>





<%= render 'jobs/categories'%>

<div class="container">
	<div class="row">
		<div class="joblabel">

			<% @jobs.each do |job| %>
			<div class="bordlabel">
						<h2><b><%= job.title %></b></h2>
						<br>
						
						<%= job.description %>
						<br>

						Experience requise : <%= job.experience %> ans
						<br>

						Pour le : <%= job.date %> 
						<br>

						<h4><%= link_to "Voir l'offre", extra_jobs_path(@job) %> </h4>
						<br>
						
						Offre proposée par : <%= job.userpro %>
						<br>

						<% if !current_user.jobs.include?(job) %>
							<%= link_to "postuler", apply_extra_job_path(job), method: :post %> 
						<% else %>
							<b> Vous avez postulé :) </b>
							<br>
							<%= link_to "annuler", cancel_candidacy_extra_job_path(job), method: :post %> 
						<% end %>
						<br>
						<br>
				</div>
			<% end %>
		</div>
	</div>

</div>