
    <style>
body {
    font-family: "Lato", sans-serif;

}

</style>

  <div id="mySidenav" class="sidenav">
      <% if user_signed_in? %>

      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a><%= link_to current_user.email, extra_extra_profile_path %></a>
      <a><%= link_to 'Dashboard', extra_user_dashboard_path %></a>
      <a><%= link_to 'Edit profile', edit_user_registration_path %></a>
      <a><%= link_to "Logout", destroy_user_session_path, method: :delete  %></a>
      

      <% elsif userpro_signed_in? %>
      <a><%= link_to current_userpro.name %></a>
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a><%= link_to 'Dashboard',  pro_userpro_dashboard_path %></a>
      <a ><%= link_to 'Edit profile', edit_userpro_registration_path %></a>
      <a ><%= link_to "Logout", destroy_userpro_session_path, method: :delete %></a>
      



  <% end %>

</div>

<span style="font-size:30px;cursor:pointer; color:white;" onclick="openNav()">&#9776; Mes infos </span>


<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>


