<nav class="navbar"> 
<div class="w3-top">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
      </a>
      <% if user_signed_in? %>
    
     <div class="w3-bar-item w3-button"> <%= link_to "Nice extra", user_dashboard_path %></div>
   
    <%= link_to 'Edit profile', edit_user_registration_path, :class => "w3-bar-item w3-button w3-hide-small" %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "w3-bar-item w3-button w3-hide-small"  %>
    
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red">
      <i class="fa fa-search"></i>
    </a>


    <% elsif userpro_signed_in? %>

     <div class="w3-bar-item w3-button"> <%= link_to "Nice extra", user_dashboard_path %></div>
    
    <%= link_to 'Edit profile', edit_userpro_registration_path, :class => "w3-bar-item w3-button w3-hide-small" %>
    <%= link_to "Logout", destroy_userpro_session_path, method: :delete, :class => "w3-bar-item w3-button w3-hide-small"  %>
    
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red">
      <i class="fa fa-search"></i>
    </a>


     <% end %>
  </div>

</div>
</nav>