<!DOCTYPE html>
<html>
  <head>
    <title>JobsExtra</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "https://www.w3schools.com/w3css/4/w3.css"%>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Lato"%>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"%>
    <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" %>
    
   
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "style.css" %>
   
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"%>
  <script>
  window.addEventListener("load", function(){
  window.cookieconsent.initialise({
    "palette": {
      "popup": {
        "background": "#eaf7f7",
        "text": "#5c7291"
      },
      "button": {
        "background": "#56cbdb",
        "text": "#ffffff"
      }
    },
    "position": "bottom-right",
    "content": {
      "message": "Ce site web utilise les cookies pour vous offrir la meilleur experience sur notre platforme",
      "dismiss": "J'ai compris",
      "link": "En savoir plus"
    }
  })});
  </script>

  </head>

  <body>

  <% if user_signed_in? %>
  <%= render 'layouts/header' %>
  <%end%>

  <% if userpro_signed_in? %>
  <%= render 'layouts/header' %>
  <%end%>

    <%= yield %>

  <%= render 'layouts/footer' %>




  </body>
</html>
